.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a3a2a2;
    margin-top: 20px;
}

.profile-container img {
 width: 80px;
}

.profile-container p {
    transition: 0.5s ease;
    font-size: 14px;
}

.profile-container p:hover {
color: #FF5A5F;
cursor: pointer;
}