.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a3a2a2;
    margin-top: 20px;
}

.profile-container img {
 width: 80px;
}

.profile-container p {
    /* transition: 0.5s ease; */
    font-size: 14px;
    margin-top: 25px;
}

.logout-button {
    background-color: #FF5A5F;
    color: #fff;
    border: none;
    padding: 10px 12px;
    border-radius: 15px;
    font-size: 12px;
    letter-spacing: 0.8px;
    transition: 0.3s ease;
}


.logout-button:hover {
    background-color: #f54f55;
    cursor: pointer;
}