@import url('https://fonts.googleapis.com/css2?family=Lato&family=Quicksand:wght@500&family=Russo+One&display=swap');

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* display: inline-block; */
    color: #fff;
    letter-spacing: 0.8px;
    width: 80%;
}

.main-page-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease;
}

.logo-icon {
    font-size: 64px;
    margin-right: 10px;
    color: #FF5A5F;
}

.main-page-logo h1{
    font-family: 'Russo One', sans-serif;
    font-size: 64px;
}

.main-form{
display: flex;
flex-direction: column;
justify-content: center;
height: 300px;
width: 340px;
}

.main-form input{
    margin: 10px 0;
    padding: 15px 10px;
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    border: 1px solid #a3a2a2;
    color: #fff;
    transition: 0.3s ease;
    letter-spacing: 0.5px;
}

.error-container {
    width: 100%;
    height: 30px;
    margin-bottom: 6px;
    
}

.error-message {
    font-size: 14px;
    color: #FF5A5F !important; 
    margin-top: -1px !important;
    margin-bottom: -6px !important;     
}

.invisible {
    /* visibility: hidden; */
    opacity: 0;
}

.main-form input::placeholder {
    color: #a3a2a2;
}

.main-form input:focus {
    border: 1px solid #FF5A5F;
    caret-color: #fff;
    color: #fff;
}

.main-form button {
padding: 15px 0;
margin-bottom: 20px;
background-color: transparent;
outline: none;
border: none;
border-radius: 5px;
background-color: #FF5A5F;
color: #fff;
cursor: pointer;
}

.main-form p{
    color: #a3a2a2;
    margin: 5px 0;
}

span {
    transition: 0.3s ease;
}

.forgot-password span:hover, .sign-up-here span:hover {
color: #FF5A5F;
cursor: pointer;
}